@import url("//fonts.googleapis.com/css?family=Lobster|Cabin:400,700");

body {
  font-family: "Cabin", Arial, sans-serif;
  color: black;
  background-color: #ffffff;
}

.navbar {
  background-color: #3874FC;
  border-color: #3874FC;
}

.navbar-brand {
  font-family: 'Lobster', cursive;
}

legend {
  font-family: 'Lobster', cursive;
}

.nav-link{
  color:black;
  text-align: center;
  color:#C8C8C8;
  font-size: medium;
}

.nav-link:hover{
  text-decoration: none;
  color: #ffffff;
}

.welcomeMessage{
  font-size:10vh;
  padding-top:10%;
  justify-content: center;
}
.score{
  margin-left:90%;
}

.review{
  padding:2em;
  background-color: #ececec;
  border-radius: 5px;
}