@import url("//fonts.googleapis.com/css?family=Lobster|Cabin:400,700");

body {
  font-family: "Cabin", Arial, sans-serif;
  color: black;
  background-color: #ffffff;
}

.welcomeMessage{
  font-size:10vh;
  padding-top:10%;
  justify-content: center;
}

.navLink:hover{
  background-color:rgb(230, 230, 230);
}