extends layout

block content
 each review in Reviews
  .card 
   .review
    h2.p-2 #{review.Game}
    p.p-2 #{review.Cost}
    p.score #{review.Score}/100
    .genres.p-5
     each genre in review.Genres
      span.badge.badge-warning= genre