extends layout

block content
 .card 
 .review
  h2.p-2 Throne and Liberty
  p.p-2 Costs: 0.00$
  p.score 75/100
  .genres.p-5
    span.badge.badge-warning action
    span.badge.badge-warning RPG
    span.badge.badge-warning Adventur