extends layout
block content
    .row
     .col-12.col-md-8
     .error= message
     app-home-list Loading

block scripts 
  script(src='/app_public/polyfills-FFHMD2TL.js')
  script(src='/app_public/main-7PLP2BUM.js')