extends layout

block content
 link(rel='stylesheet', href='/stylesheets/Reviews.css')

 each review in Reviews
   .review
    h2.GameTitle #{review.Game}
    p.p-2 #{review.Cost}
    p.score Score: #{review.Score}/100
    .genres
     each genre in review.Genres
      span.badge.badge-warning.genreItem= genre