extends layout

.card.col-lg-8.justify-content-center.p-4.d-flex
.card-block
    h4 Throne and Liberty
    p.Cost Costs: 0.00$ 
    .score.position-absolute.bottom-0.end-0.p-4 75/100
    .genres
    span.badge.badge-warning action 
    span.badge.badge-warning RPG 
    span.badge.badge-warning Adventure