doctype html
html
 head
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title= title
  link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
  link(rel='stylesheet', href='/stylesheets/style.css')
 body
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
   button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#NavbarCollapse' 
   aria-controls='NavbarCollapse' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
   .collapse.navbar-collapse#NavbarCollapse
    a.navbar-brand.ms-2(href='#') Game Review Library
    ul.navbar-nav.mr-auto.mt-2.mt-lg-0
     li.nav-item.ms-4.navLink
        a.nav-link(href='/') Home
     li.nav-item.ms-4.navLink
        a.nav-link(href='/GameList/') View Reviews
     li.nav-item.ms-4.navLink
        a.nav-link(href='#') About Us
    ul.navbar-nav.mr-auto.mt-2.mt-lg-0.ms-auto
     if(!user)
      li.nav-item.ms-4.navLink
         a.nav-link(href='/Login') Log In
      li.nav-item.ms-4.me-4.navLink
         a.nav-link(href='/Register/') Register
     else
      li.nav-item.ms-4.navLink
         a.nav-link(href='/Logout') Logout


  .container
    block content
     footer
      .row
       .col-12
      small &copy; Bartosz Wicha
 block scripts
  script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js')
  script(src='/javascripts/bootstrap.min.js')
 